* {
    box-sizing: border-box;
}
body {
    background-color: antiquewhite;
}
.main-container {
    margin: 20px;
}
.container {
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    margin: 15px;
}
h1 {
    text-align: center;
    color: red;
    font-size: 40px;
    font-family: 'Borel', cursive;
}
.content {
    color: black;
    font-size: 20px;
    font-family: 'Borel', cursive;
    margin-top: 80px;
}
.block {
    float: right;
    width: 100px;
    font-family: 'Borel', cursive;
    padding: 10px;
    margin: 0px;
    border: 1px solid black;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}
#c {
    background-color: peachpuff;
}
#b {
    background-color: indianred;
}
#s {
    background-color: lightyellow;
}

/*Media Queries*/

@media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .column-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .column-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .column-sm-12 {
        float: left;
        width: 100%;
    }
}

